[submodule "themes/papermod"]
	path = themes/papermod
	url = https://github.com/cydave/zola-theme-papermod
[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
